[Unit]
Description=YTClip Webserver
After=network.target

[Service]
ExecStart=/usr/bin/python /root/ytclip-server/app/run.py
Restart=always
User=nobody

[Install]
WantedBy=multi-user.target