[Unit]
Description=YTClip Webserver
After=network.target
StartLimitIntervalSec=5

[Service]
ExecStart=/usr/bin/sh -c ls
Restart=always
User=nobody

[Install]
WantedBy=multi-user.target