[Unit]
Description=YTClip Webserver
After=network.target
StartLimitIntervalSec=5

[Service]
ExecStart=/usr/bin/sh /root/ytclip-server/run.sh
Restart=always
User=nobody

[Install]
WantedBy=multi-user.target